<form class="add-reminder-form" {{action submitForm reminder on="submit"}}>
  <label class="new-content-label">
    Title
    {{input value=reminder.title class="reminder-title-input"}}
  </label>
  <label class="new-content-label">
    Date
    {{input type="date" value=reminder.date class="reminder-date-input"}}
  </label>
  <label class="new-content-label">
    Notes
    {{textarea value=reminder.notes class="reminder-notes-input"}}
  </label>
  <input type="submit" value="Save" class="save-button">
</form>
