@import '_variables.scss';

body {
  background: $color-tan-light;
}

h1 {
  margin: 20px 0 0 10px;
}

p {
  margin: 10px 0 5px 10px;
}

a {
  color: #283C63;
  text-decoration: none;
  &:hover {
    color: lighten($color-blue-dark, 15%);
  }
}

.app-title {
  color: $color-blue-dark;
  font-size: 40px;
  margin-top: 10px;
}

.active {
  background: $color-pink;
}

.default-message {
  color: $color-pink;
}

.reminder-details {
  background: darken($color-tan-light, 10%);
  padding: 5px;
}

.spec-reminder-title {
  color: $color-blue-dark;
  margin-top: 0;
}

.reminders {
  display: flex;
}

.reminders-list {
  width: 33%;
}

.sidebar {
  width: 66%;
}

.add-reminder-button {
  margin: 20px 0 0 5px;
  &:active {
    background: none;
  }
}
