@import '_reset.scss';
@import '_variables.scss';
@import '_mixins.scss';
@import '_new-form.scss';
@import '_reminder-details';

body {
  background: $color-tan-light;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0 5px 0;
}

a {
  color: $color-blue-dark;
  text-decoration: none;
  &:hover {
    color: lighten($color-blue-dark, 15%);
  }
}

p {
  line-height: 1.3em;
}

.app-title {
  background: $color-pink;
  color: $color-blue-dark;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.active {
  background: $color-pink;
}

.default-message {
  color: $color-pink;
  font-size: 1.5em;
  margin-top: 80px;
  text-align: center;
}

.reminders {
  display: flex;
}

.reminders-list {
  background: lighten(#928A97, 15%);
  overflow-y: scroll;
  padding: 20px;
  height: 85vh;
  width: 33%;
}

.reminder-date {
  margin-bottom: 20px;
  font-style: italic;
}

.main-content {
  width: 66%;
}

.add-new-button {
  @include button-format;
  margin: 50px 0 0 30%;
  padding: 2px 15px 2px 10px;
  &:active {
    background: none;
  }
}
