<div class="reminder-details">
  <h1 class="spec-reminder-title">{{model.title}}</h1>
  <p>{{model.date}}</p>

  {{#if model.notes}}
    <p>{{model.notes}}</p>
  {{/if}}

  <button type="'button'" name="button">Pin Reminder</button>
</div>
