<div class="reminder-details">
  <h1 class="spec-reminder-title">{{model.title}}</h1>
  <p class="spec-reminder-date">{{model.date}}</p>

  {{#if model.notes}}
    <p class="spec-reminder-notes">{{model.notes}}</p>
  {{/if}}

  <button type="button" name="button" class="edit-button">Edit Reminder</button>
  <button type="button" name="button" class="pin-button">Pin Reminder</button>
</div>
