{{outlet}}

<div class="spec-reminder-item">
  <h3>{{model.title}}</h3>
  <p>{{model.date}}</p>

  {{#if model.notes}}
    <p>{{model.notes}}</p>
  {{/if}}

  <button type="'button'" name="button">Pin Reminder</button>
</div>
