<div class="reminders">
  {{#each model as |reminder|}}
    <div class="spec-reminder-item">
      <h3>{{reminder.title}}</h3>
      <h4>{{reminder.date}}</h4>

      {{#if reminder.notes}}
        <p>{{reminder.notes}}</p>
      {{/if}}

      <button type="'button'" name="button">Pin Reminder</button>
    </div>
  {{/each}}
</div>

{{outlet}}
