<div class="reminders">
  {{#each model as |reminder|}}
    <h1>{{#link-to 'reminders.reminder' reminder.id class="spec-reminder-item"}}{{reminder.title}}{{/link-to}}</h1>
    <p>{{reminder.date}}</p>
  {{/each}}
  {{outlet}}
</div>
